@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.meme-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  @include tablet {
    flex-direction: row;
  }

  &__input {
    font-family: "Avenir-Next";
    color: $meme-black;
    background: $alabaster;
    padding: 1rem;
    width: 100%;
    height: 2.25rem;
    min-height: 2.25rem;
    border-radius: 0.25rem;
    border: 1px solid $mercury;
    margin: 0 1rem 1rem 0;

    @include tablet {
      min-width: 9.375rem;
      max-width: 10rem;
      height: 2.5rem;
      min-height: 2.5rem;
    }

    @include desktop {
      min-width: 9.375rem;
      max-width: 10rem;
      height: 2.5rem;
      min-height: 2.5rem;
    }

    input:focus::after {
      border: 1px solid $meme-black;
    }

    input:valid {
      border: 1px solid $mercury;
    }

    input:invalid {
      border: 1px solid #d22d2d;
    }

    input:required:invalid {
      border-color: #d22d2d;
    }

    input:active {
      border: 2px solid $meme-blue;
    }
  }

  &__button {
    background-color: $meme-blue;
    color: $white;
    font-weight: 700;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: none;
    width: 100%;

    @include tablet {
      min-width: 9.375rem;
      max-width: 10rem;
      padding: 0 2rem 0 2rem;
    }

    @include desktop {
      min-width: 9.375rem;
      max-width: 10rem;
      padding: 0 2rem 0 2rem;
    }
  }

  &__button:hover {
    background-color: $meme-darkblue;
  }

  ::placeholder {
    font-family: "Avenir-Next";
    color: $meme-black;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.125rem;

    @include tablet {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.375rem;
    }

    @include desktop {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.375rem;
    }
  }
}
