//primary colors
$meme-black: #323232;
$meme-blue: #0077dff0;
$white: #ffff;
$silver: #afafaf;

//secondary colors
$meme-darkblack: #000000;
$meme-darkblue: #015591;
$mercury: #e1e1e1;
$alabaster: #fafafa;
