@use "./variables";
@mixin flex(
  $justify-content: flex-start,
  $align-items: stretch,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin tablet {
  @media screen and (min-width: variables.$tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: variables.$desktop-breakpoint) {
    @content;
  }
}
