@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../asset/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../asset/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
