<<<<<<< HEAD
$mobile-breakpoint: 20rem; // 320px
$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px
=======
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
>>>>>>> develop
